*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-class{
  width: 100%;
}

.list-page h1{
  text-align: center;
  margin-top: 40px;
}